.listPage {

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}



.description {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font-family);
}
.filterRange {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.dateRange {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.dateRange label,
.dateRange input {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font-family);
}

.dateRange input {
  margin:0 10px;

}


.topInfo-add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: 1;
}
.topInfo-add-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: darkblue;
  cursor: pointer;
}

.topInfo-add-link:hover {
background-color: cornflowerblue;
}

.form-isPaid {
  margin-top: 20px;
}

.form-isPaid select {
  margin-left: 10px;
  font-size: 1.2rem;
}

.btn-overdue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: red;
  color: white;
  cursor: pointer;
}

.btn-overdue-clicked {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
  background-color: #eee;
}

.p-overdue {
  font-weight: bold;
  animation: blinking 2s infinite;
}

@keyframes blinking {
  0% {color: white}
  51% {color: red}
}

@media screen and (max-width: 800px) {

  .listPage{
    width: 100vw;
  }

  .p-overdue {
   font-size: 0.7rem;
   
  }

  .filterRow{
    width: 100%;
    justify-content: space-around;
  }
  .dateRange{
    flex-direction: column;
    /* margin-left: 50px; */
    
  }
  .dateRange label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .dateRange label,
  .dateRange input {
    font-size: 0.7rem;
  }

  .filterRow .btn-save {
    font-size: 0.7rem;
    margin-right: 50px;
    width: 90px;
  }

  .tbheader , .itemRow {
    font-size: 0.6rem;
    width: 100vw;
  }

  .tbheader-amount,
  .tbheader-date {
    text-align: center;
    margin-left: -20px;
  }

  .tbheader-date {
    margin-left: -17px;
  }

  .tbheader-days {
    text-align: center;
    margin-left: -30px;
    padding: 0 15px;
    font-size: 0.5rem ;
  }
  .tbheader-status{
    margin-left: -10px;
  }


  .btn-not-confirmed {
    margin-left: 10px;
  }
  .svgWrapper {
    margin-right: 25px;
    width: 45px;
  }

  .itemRow-details {
    justify-content: start;
  }
}
