:root {
  --main-bg-color:rgb(85, 124, 255);
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginLeft {
  margin-left: 10rem;
}

label {
  display: block;
}



.btn-save {
display: inline-block;
line-height: 100%;
padding: 10px 25px;
background-color: cornflowerblue;
color: white;
text-transform: uppercase;
font-weight: bold;
cursor: pointer;
}

.btn-save:hover {
  background-color: darkblue;

}



.line {
  width: 95%;
  margin: 15px;
  border-bottom: 1px solid grey;
}

.center {
  text-align: center;
}